rules_version = '2';

// role & data based rules: https://firebase.google.com/docs/rules/basics#data-defined_attributes_and_roles

// custom claims
// For attribute-based access control, check for an admin claim
// allow write: if request.auth.token.admin == true;
// Alterntatively, for role-based access, assign specific roles to users
// allow read: if request.auth.token.reader == "true";

// For tenant-based access control, check for a tenantID
// allow write: if request.auth.token.firebase.tenant == 'tenant2-m6tyz';

// Only allow specific fields to be changed
// https://firebase.google.com/docs/firestore/security/rules-fields#allowing_only_certain_fields_to_be_changed

// get(/databases/$(database)/documents/$(request.resource.data['owner'].path)).id == request.auth.uid

// https://medium.com/firebase-developers/a-list-of-firebase-firestore-security-rules-for-your-project-fe46cfaf8b2a
// https://fireship.io/snippets/firestore-rules-recipes/

// Enforcing field types: https://firebase.google.com/docs/firestore/security/rules-fields#enforcing_field_types

// MATCHES: https://firebase.google.com/docs/reference/rules/rules.String#matches
// https://github.com/google/re2/wiki/Syntax

// TIME BASED RULES: https://blog.canopas.com/firebase-firestore-list-of-essential-security-rules-a0e872c724d3#c896

// TODO: quote field rules (don't allow changing quote amt)
// TODO: status rules (don't allow changing of quote is status = bound, etc.)
// TODO: check email verified on all client side queries if required in rules

    // TODO: use get() for nested values: request.resource.data.get(keys, null)
    // https://stackoverflow.com/a/72687201

// EXAMPLE RULES: https://medium.com/firebase-developers/a-list-of-firebase-firestore-security-rules-for-your-project-fe46cfaf8b2a
// https://fireship.io/snippets/firestore-rules-recipes/

service cloud.firestore {
  match /databases/{database}/documents {
    // TODO: separate out read permissions (list should mirror user/agent/admin/idemandAdmin queries)
    match /submissions/{submissionId} {
      allow read: if true // isUser(existingData().userId) || isIDemandAdmin()
      allow create: if !requestHasAny(['annualPremium'])
      allow update: if isIDemandAdmin() // isUser(existingData().userId) || 
      allow delete: if isIDemandAdmin()
    }

    match /portfolioSubmissions/{submissionId} {
      allow read: if isIDemandAdmin(); // TODO: warp submission in require auth with anonymous auth
      allow create: if true;
      allow update, delete: if isIDemandAdmin();
    }
    
    // TODO: read specificity if claimed or not (might need to add a field b/c of anonymous auth)
    // need to update assign quote (only allow sign in if claimed)
    // add 'userId' to restricted fields ?? is claimQuote setting userId server-side or on the client ??
    match /quotes/{quoteId} {
      allow get: if true
      allow list: if isDocUserOrAgentOrOrgAdminOrIDemandAdmin()
      allow create: if isIDemandAdmin()
      // user or agent, excluding restricted fields. Or idemand admin
      allow update: if (
        (
          isDocUser() 
          || isDocAgent()
        ) 
          && !(containsRestrictedFields(['quoteExpiration', 'subproducerCommission', 'quoteTotal', 'termPremium', 'taxes', 'fees', 'ratingPropertyData.replacementCost', 'product', 'status', 'statusTransitions']))
        ) 
        || (isIDemandAdmin() && emailVerified())
      allow delete: if false
    }

    match /policies/{policyId} {
      allow read: if isDocUserOrAgentOrOrgAdminOrIDemandAdmin()
      allow create: if isIDemandAdmin() && emailVerified()
      allow update: if isIDemandAdmin() && emailVerified()
      allow delete: if false
    }

    // required for collection group queries (https://firebase.google.com/docs/firestore/security/rules-query#collection_group_queries_and_security_rules)
    match /{path=**}/changeRequests/{requestId} {
      allow read: if isDocUserOrAgentOrOrgAdminOrIDemandAdmin()
    }

    function getPolicy(policyId) {
      return get(/databases/$(database)/documents/policies/$(policyId))
    }
    function getPolicyData(policyId) {
      return getPolicy(policyId).data
    }

    // TODO: decide whether to allow org admins to create 
    match /policies/{policyId}/changeRequests/{requestId} {
      allow create: if true;
      // TODO: uncomment (update to allow 'draft' status)
      // allow create: if isSignedIn() && (
      //     isUser(getPolicyData(policyId).get('userId', null))
      //     || (isAgent() && isUser(getPolicyData(policyId).get(['agent', 'userId'], null)))
      //     || isIDemandAdmin()
      //   ) 
      //   && incomingData().keys().hasAll(['policyId', 'requestEffDate', 'trxType', 'userId', 'agent', 'agency', 'status'])
      //   && incomingData().status == 'submitted'
      allow update: if isSignedIn() && isIDemandAdmin(); // TODO: allow user to update if status === 'submitted' ??
      allow delete: if isSignedIn() && isIDemandAdmin();
    }

    // POLICY TRANSACTIONS (NOT FINANCIAL/CHARGES)
    match /transactions/{trxId} {
      allow read: if isDocUser() || isIDemandAdmin() 
      // TODO: agentId not stored on trx ?? || isAgent(existingData().agentId)  or isOrgAdmin ??
      allow create, update: if isIDemandAdmin() && emailVerified()
      allow delete: if false;
    }

    // TODO: update allow read of user profile (tenant/agent/insured etc.)
    match /users/{userId} {
      allow read: if isUser(userId) || isTenantUser(existingData().orgId) || (isIDemandAdmin() && emailVerified()) 
      // TODO: allow agent / agency users to read if x association (where user.tenantId = policy.agency.orgId, etc.) ?? need to run query ??
      allow create: if isUser(userId) || (isIDemandAdmin() && emailVerified())
      allow update: if isUser(userId) || (isIDemandAdmin() && emailVerified())
      allow delete: if isIDemandAdmin() && emailVerified()
    }

    match /users/{userId}/paymentMethods/{pmtMethodId} {
      allow create, update, read, delete: if isUser(userId) || (isIDemandAdmin() && emailVerified())
    }

    match /financialTransactions/{transactionId} {
      allow read: if isDocUser() || isIDemandAdmin()
      allow create, update, delete: if isIDemandAdmin() && emailVerified()
    }

    match /organizations/{orgId} {
      allow read: if true // TODO: ALLOW ANYONE TO READ ?? ONLY AUTHENTICATED USERS ?? // isUser(existingData().userId)
      allow create: if isIDemandAdmin() && emailVerified()
      allow update: if ((isIDemandAdmin() && emailVerified())|| (isOrgAdmin() && isTenantUser(orgId)))
      allow delete: if isIDemandAdmin() && emailVerified()
    }

    match /organizations/{orgId}/invitations/{inviteId} {
      allow read: if (isSignedIn() && isTenantUser(orgId)) || isIDemandAdmin()
      allow create, update, delete: if isSignedIn() && emailVerified() && (isIDemandAdmin() || (isOrgAdmin() && isTenantUser(orgId)))
    }

    match /organizations/{orgId}/userClaims/{userId} {
      allow read: if isTenantUser(orgId) || isIDemandAdmin() || isIDemandUser()
      // _lastCommitted is set in mirrorCustomClaims function and should never be set by user
      allow create, update: if isSignedIn() && emailVerified() && (isIDemandAdmin() || (isOrgAdmin() && isTenantUser(orgId))) && (!request.resource.data.keys().hasAny(['_lastCommitted']))
      allow delete: if false
    }

    // // Allow the client to update a document only if that document doesn't
    // // change the average_score or rating_count fields
    // allow update: if (!request.resource.data.diff(resource.data).affectedKeys()
    //   .hasAny(['average_score', 'rating_count']));
    
    match /{paths=**}/invitations/{inviteId} {
      allow read, create, update, delete: if isIDemandAdmin()
    }

    match /propertyDataRes/{docId} {
      allow read: if isIDemandAdmin()
      allow create: if false
      allow update, delete: if false
    }

    match /spatialKey/{skDocId} {
      allow read: if isIDemandAdmin()
      allow create: if false
      allow update, delete: if false
    }
    
    match /attom/{docId} {
      allow read: if isIDemandAdmin()
      allow create: if false
      allow update, delete: if false
    }

    match /ratingData/{docId} {
      allow read, write: if isIDemandAdmin()
    }

     match /notifyRegistration/{notifyId} {
      allow read: if isIDemandAdmin() || isDocUser()
      allow create: if true
      allow update: if isSignedIn() && (isDocUser() || isIDemandAdmin())
      allow delete: if isIDemandAdmin() && emailVerified()
    }

    match /surplusLinesTaxes/{taxId} {
      allow read: if isIDemandAdmin()
      allow create: if isIDemandAdmin() && emailVerified()
      allow update: if isIDemandAdmin() && emailVerified()
      allow delete: if false
    }

    match /states/{productId} {
      allow read: if true
      allow create: if isIDemandAdmin() && emailVerified()
      allow update: if isIDemandAdmin() && emailVerified()
      allow delete: if false
    }

    // TODO: fix rules
    match /agencySubmissions/{subId} {
      allow create: if true // TODO: required fields validation
      allow get: if true
      allow list, update: if isIDemandAdmin() && emailVerified()
      allow delete: if isIDemandAdmin() && emailVerified()
    }

    match /moratoriums/{moratoriumId} {
      allow read: if true
      allow create: if isIDemandAdmin() && emailVerified()
      allow update: if isIDemandAdmin() && emailVerified()
      allow delete: if isIDemandAdmin() && emailVerified()
    }

    // TODO: if agent / agency etc.
    match /licenses/{licenseId} {
      allow read: if isIDemandAdmin()
      allow list: if isIDemandAdmin()
      allow create: if isIDemandAdmin() && emailVerified()
      allow update: if isIDemandAdmin() && emailVerified()
      allow delete: if isIDemandAdmin() && emailVerified()
    }

    match /disclosures/{docId} {
      allow read: if true
      allow create: if isIDemandAdmin() && emailVerified()
      allow update: if isIDemandAdmin() && emailVerified()
      allow delete: if isIDemandAdmin() && emailVerified()
    }

    match /public/{docId} {
      allow read: if true
      allow create: if isIDemandAdmin() && emailVerified()
      allow update: if isIDemandAdmin() && emailVerified()
      allow delete: if isIDemandAdmin() && emailVerified()
    }
    
    match /dataImports/{docId} {
      allow read, create, update, delete: if isIDemandAdmin() && emailVerified()

      match /stagedDocs/{stagedDocId} {
        allow read, delete: if isIDemandAdmin();
        allow update: if isIDemandAdmin() && existingData().status != 'imported'
        allow create: if false;
      }
    }

    match /emailActivity/{docId} {
      allow read, create, update, delete: if isIDemandAdmin() && emailVerified()
    }

    match /tasks/{taskId} {
      allow read: if true
      allow create: if isIDemandAdmin() && emailVerified()
      allow update: if isIDemandAdmin() && emailVerified()
      allow delete: if isIDemandAdmin() && emailVerified()
    }

    // TODO: remove isSignedIn from all isXXX functions
    function isIDemandAdmin() {
      return isSignedIn() && request.auth.token.get('iDemandAdmin', null) == true
    }

    function isIDemandUser() {
      return isSignedIn() && request.auth.token.email.matches('.*@idemandinsurance[.]com')
    }

    // Does the logged-in user match the requested userId?
    function isUser(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function isTenantUser(tenantId) {
      return isSignedIn() && tenantId != null && request.auth.token.firebase.tenant == tenantId
    } // && request.auth.token.firebase.tenant

    function isOrgAdmin() {
      return isSignedIn() && request.auth.token.get('orgAdmin', null) == true
    } // && request.auth.token.orgAdmin

    function isAgent() { // agentId
      return isSignedIn() && request.auth.token.get('agent', null) == true
    }

    function isDocUser() {
      return isUser(existingData().get('userId', null))
    }

    function isDocAgent() {
      return isAgent() && isUser(existingData().get(['agent', 'userId'], null))
    }

    function isDocOrgAdmin() {
      return isOrgAdmin() && isTenantUser(existingData().get(['agency','orgId'], null))
    }

    function isDocUserOrAgentOrOrgAdminOrIDemandAdmin() {
      return isSignedIn() && (isDocUser() || isDocAgent() || isDocOrgAdmin() || isIDemandAdmin())
    }

    // // Fetch a user from Firestore
    // function getUserData() {
    //   return get(/databases/$(database)/documents/accounts/$(request.auth.uid)).data
    // }

    // // Fetch a user-specific field from Firestore
    // function userEmail(userId) {
    //   return get(/databases/$(database)/documents/users/$(userId)).data.email;
    // }

    // // Secure by Owner, Has-Many Relationship
    // function requestMatchesUID() {
    //     return request.auth.uid == request.resource.data.uid;
    // }

    // function resourceMatchesUID() {
    //     return request.auth.uid == resource.data.uid;
    // }
    // // Usage: 
    // // allow write: if requestMatchesUID();
    // // allow update: if requestMatchesUID() && resourceMatchesUID();
    // // allow delete: if resourceMatchesUID();
    function isSignedIn() {
      return request.auth != null;
    }
    function emailVerified() {
      return request.auth.token.email_verified;
    }
    // function userExists() {
    //   return exists(/databases/$(database)/documents/users/$(request.auth.uid));
    // }
    // [READ] Data that exists on the Firestore document
    function existingData() {
      return resource.data;
    }
    // [WRITE] Data that is sent to a Firestore document
    function incomingData() {
      return request.resource.data;
    }

    function isAnonymous() {
      return request.auth.token.firebase.sign_in_provider == 'anonymous'
    }

    // DATA VALIDATION RULES

    function isValidSubmission() {
      return incomingData().limits.limitA < 1000000 &&
            incomingData().limits.limitB + incomingData().limits.limitC + incomingData().limits.limitD < 1000000 &&
            // incomingData().product in ['flood', 'wind'] &&
            incomingData().deductible > 1000 &&
            incomingData().basement in ['no', 'finished', 'unfinished', 'unknown']
            // existingData().locked == false 
    }

    function hasRequiredSubmissionFields() {
      return incomingData().keys().hasAll(['address', 'coordinates', 'limits']);
    }

    function isValidAddress() {
      return 
        incomingData().address is map &&
        incomingData().address.addressLine1 is string &&
        incomingData().get('address.addressLine2', '') is string &&
        incomingData().address.city is string &&
        incomingData().address.state is string &&
        incomingData().address.postal is string
    }

    function hasLimitKeys() {
      return incomingData().limits.keys().hasAll(['limitA', 'limitB', 'limitC', 'limitD']);
    }

    // // Allow the client to update a document only if that document doesn't
    // change the average_score or rating_count fields
    // allow update: if (!request.resource.data.diff(resource.data).affectedKeys()
    //   .hasAny(['average_score', 'rating_count']));

    function onlyAllowedFields(required, optional) {
      let allAllowedFields = required.concat(optional);
      return request.resource.data.keys().hasAll(required) &&
        request.resource.data.keys().hasOnly(allAllowedFields);
    }

    // returns true if any restricted fields would be changed in an update
    function containsRestrictedFields(restrictedFields) {
      return request.resource.data.diff(resource.data).affectedKeys()
        .hasAny(restrictedFields)
    }

    // returns true if only 'permittedFields' are changed by requested update
    function onlyPermittedFieldsUpdated(permittedFields) {
      return request.resource.data.diff(resource.data).affectedKeys()
        .hasOnly(permittedFields)
    }

    // returns true if request has any of provided restricted keys
    function requestHasAny(restrictedKeys) {
      return request.resource.data.keys().hasAny(restrictedKeys)
    }

    // // Allow the user to create a document only if that document does *not*
    // // contain an average_score or rating_count field.
    // match /restaurant/{restId} {
    //   allow create: if (!request.resource.data.keys().hasAny(
    //     ['average_score', 'rating_count']));
    // }



    // enforcing types for optional fields: https://firebase.google.com/docs/firestore/security/rules-fields#enforcing_types_for_optional_fields

    // // allow update: if isValidProduct();

    // function isValidProduct() {
    //   return incomingData().price > 10 && 
    //         incomingData().name.size() < 50 &&
    //         incomingData().category in ['widgets', 'things'] &&
    //         existingData().locked == false && 
    //         getUserData().admin == true
    // }

    // match /{document=**} {
    //   allow read, write: if
    //       request.time < timestamp.date(2023, 2, 12);
    // }
  }
}